#keret{
margin: auto;
border: 5px darkblue solid;
width: 700px;
}
header{
    padding-top: 10px;
    text-align: center;
}
hr{
    width: 80% rgb(165, 164, 164) ;
}
#belso{
    border:dashed rgb(46, 157, 231);
    color:rgb(46, 157, 231) ;
    font-size: 30px;
    background-color: rgb(238, 195, 125);
    padding-left:10px;
    padding-top:10px ;
}
.kep{
    border:green solid 2px;
}